services:
  web:
    build:
      context: ./
      dockerfile: ./web.Dockerfile
    environment:
      DATABASE_URL: postgresql://MaintainMeDB_owner:npg_eVLDAu5TbXk9@ep-empty-hat-a5dkajbq.us-east-2.aws.neon.tech/MaintainMeDB?sslmode=require
    ports:
      - "80:3000"
  websocket:
    build:
      context: ./
      dockerfile: ./websocket.Dockerfile
    environment:
      DATABASE_URL: postgresql://MaintainMeDB_owner:npg_eVLDAu5TbXk9@ep-empty-hat-a5dkajbq.us-east-2.aws.neon.tech/MaintainMeDB?sslmode=require
    ports:
      - "8443:8443"
