services:
  web:
    build:
      context: ./
      dockerfile: ./web.Dockerfile
    ports:
      - "80:3000"
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres
  websocket:
    build:
      context: ./
      dockerfile: ./websocket.Dockerfile
    environment:
      DATABASE_URL: postgresql://MaintainMeDB_owner:mDVZRvr1Ff6t@ep-empty-hat-a5dkajbq.us-east-2.aws.neon.tech/MaintainMeDB?sslmode=require
    ports:
      - "8080:8080"
