@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@keyframes fadeToBlack {
  from {
    color: var(--start-color);
  }
  to {
    color: black;
  }
}

@keyframes fadeToWhite {
  from {
    color: var(--start-color);
  }
  to {
    color: white;
  }
}

.fade-to-color {
  animation: fadeToBlack 0.6s ease-in-out;
}

.dark .fade-to-color {
  animation: fadeToWhite 0.6s ease-in-out;
}

.start-green {
  --start-color: #10b981;
}

.start-red {
  --start-color: #ef4444;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.nextjs-static-indicator-toast-icons {
  display: none;
}
.nextjs-static-indicator-toast-icon {
  display: none;
}
.nextjs-static-indicator-toast-icon {
  display: none;
}
